{% extends '::base.html.twig' %}
{% block body %}
	<div class="container">
  
  <!-- inizio colonna form aggiungi cliente -->
        <div class="col-md-6">
          <h2>Crea nuovo cliente</h2>
          <br>
          <!-- inizio form aggiungi cliente -->
          {{ form_start(form, { 'attr': {'class': 'form-horizontal'} })}}
            <div class="form-group">
              <label for="nome" class="col-sm-2 control-label">Nome</label>
              <div class="col-sm-5">
                
                {{ form_row(form.nome, { 'attr': {'class': 'form-control', 'placeholder': 'nome'  } })}}
              </div>
            </div>
            <div class="form-group">
              <label for="cognome" class="col-sm-2 control-label">Cognome</label>
              <div class="col-sm-5">
                
                {{ form_row(form.cognome, { 'attr': {'class': 'form-control', 'placeholder': 'cognome'  } })}}
              </div>
            </div>
            <div class="form-group">
              <label for="data" class="col-sm-2 control-label">Data di nascita</label>
              <div class="col-sm-6">
                
                {{ form_row(form.data, { 'attr': {'placeholder': 'data'  } })}}
              </div>
            </div>
            <div class="form-group">
              <label for="indirizzo" class="col-sm-2 control-label">Indirizzo</label>
              <div class="col-sm-6">
                
                {{ form_row(form.indirizzo, { 'attr': {'class': 'form-control', 'placeholder': 'indirizzo'  } })}}
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-5">
                
                {{ form_row(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'email'  } })}}
              </div>
            </div>
            <div class="form-group">
              <label for="telefono" class="col-sm-2 control-label">Telefono</label>
              <div class="col-sm-4">
                
                {{ form_row(form.telefono, { 'attr': {'class': 'form-control', 'placeholder': 'telefono'  } })}}
              </div>
            </div>
            
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-2">
                
                {{ form_row(form.save, { 'attr': {'class': 'btn btn-default' } })}}
				<!-- fine form aggiungi cliente -->
              </div>
              <!-- fine colonna form aggiungi cliente -->
          
          
          {{ form_end(form) }}
        </div></div>
        <!-- inizio colonna form persone aggiuntive -->
        <div class="col-md-6">
        <h2>Aggiungi persona</h2>
          <br>

        {{ form_start(form_persone, { 'attr': {'class': 'form-horizontal'} })}}


        <div class="form-group">
              <label for="cliente" class="col-sm-2 control-label">Cliente</label>
              <div class="col-sm-5">
                
                {{ form_row(form_persone.cliente, { 'attr': {'class': 'form-control', 'placeholder': 'cliente'  } })}}
              </div>
            </div>

            
            <div class="form-group">
              <label for="nome" class="col-sm-2 control-label">Nome</label>
              <div class="col-sm-5">
                
                {{ form_row(form_persone.nome, { 'attr': {'class': 'form-control', 'placeholder': 'nome'  } })}}
              </div>
            </div>
            <div class="form-group">
              <label for="cognome" class="col-sm-2 control-label">Cognome</label>
              <div class="col-sm-5">
                
                {{ form_row(form_persone.cognome, { 'attr': {'class': 'form-control', 'placeholder': 'cognome'  } })}}
              </div>
            </div>
            <div class="form-group">
              <label for="data" class="col-sm-2 control-label">Data di nascita</label>
              <div class="col-sm-6">
                
                {{ form_row(form_persone.data, { 'attr': {'placeholder': 'data'  } })}}
              </div>
            </div>
            
            
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-2">
                
                {{ form_row(form_persone.save, { 'attr': {'class': 'btn btn-default' } })}}
        	
        </div>
        {{ form_end(form_persone) }}
        <!-- fine colonna form persone aggiuntive -->
</div>
       
{%endblock%}