<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Wonderful{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>


        

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    </head>

<nav class="navbar navbar-default">
    <div class="container"> 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="#">Gestione Wonderful</a> </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                
                
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">   Anagrafiche<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{asset ('/anagrafiche/crea')}}">Crea Cliente</a></li>
                        <li><a href="{{asset ('/anagrafiche/lista')}}">Lista Clienti</a></li>
                        
                    </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Pacchetti<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{asset ('pacchetti/crea')}}">Crea Pacchetto</a></li>
                        <li><a href="{{asset ('pacchetti/lista')}}">Lista Pacchetti</a></li>
                        
                    </ul>
                </li>
                 
                
              
                
                
            </ul>
            
        </div>
        <!-- /.navbar-collapse --> 
        
    </div>
    <!-- /.container-fluid --> 
</nav>

</html>
{% block body %}{% endblock %}
