{% extends '::base.html.twig' %}
{% block body %}
<div class="container">
  
  <!-- inizio colonna form aggiungi cliente -->
        <div class="col-md-6">
          <h2>Crea nuovo pacchetto</h2>
          <br>
          <!-- inizio form aggiungi cliente -->
          {{ form_start(form1, { 'attr': {'class': 'form-horizontal'} })}}
            <div class="form-group">
              <label for="nome_pacchetto" class="col-sm-2 control-label">Nome</label>
              <div class="col-sm-6">
                
                {{ form_row(form1.nomePacchetto, { 'attr': {'class': 'form-control', 'placeholder': 'nome'  } })}}
              </div>
            </div>
            
            <div class="form-group">
              <label for="data_inizio" class="col-sm-2 control-label">Data inizio</label>
              <div class="col-sm-6">
                
                {{ form_row(form1.dataInizio, { 'attr': {'placeholder': 'data inizio'  } })}}
              </div>
            </div>
            <div class="form-group">
              <label for="data_fine" class="col-sm-2 control-label">Data fine</label>
              <div class="col-sm-6">
                
                {{ form_row(form1.dataFine, { 'attr': {'placeholder': 'data fine'  } })}}
              </div>
            </div>
            
            
            
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-2">
                
                {{ form_row(form1.save, { 'attr': {'class': 'btn btn-default' } })}}
				<!-- fine form aggiungi cliente -->
              </div>
              <!-- fine colonna form aggiungi cliente -->
          
          
          {{ form_end(form1) }}
        </div></div>
       <!-- inizio colonna form persone aggiuntive -->
        <div class="col-md-6">
        <h2>Aggiungi servizio</h2>
          <br>

        {{ form_start(form2, { 'attr': {'class': 'form-horizontal'} })}}
            <div class="form-group">
              <label for="nome" class="col-sm-2 control-label">Pacchetto</label>
              <div class="col-sm-5">
                
                {{ form_row(form2.persone, { 'attr': {'class': 'form-control', 'placeholder': 'pacchetto'  } })}}
              </div>
            </div>
            <div class="form-group">
              <label for="servizio" class="col-sm-2 control-label">Servizio</label>
              <div class="col-sm-5">
                
                {{ form_row(form2.nomeServizio, { 'attr': {'class': 'form-control', 'placeholder': 'servizio'  } })}}
              </div>
            </div>
            <div class="form-group">
              <label for="data" class="col-sm-2 control-label">Costo</label>
              <div class="col-sm-4">
                
                {{ form_row(form2.costo_servizio, { 'attr': {'class': 'form-control','placeholder': 'costo'  } })}}
              </div>
            </div>
            
            
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-2">
                
                {{ form_row(form2.save, { 'attr': {'class': 'btn btn-default' } })}}
          
        </div>
        {{ form_end(form2) }}
        <!-- fine colonna form persone aggiuntive -->
</div>
{%endblock%}